{% extends 'base.html.twig' %}

{% block title %}Se connecter - Beemymate{% endblock %}

{% block body %}

<div id="connexion">

    <main class="contain">

        <section class="part-form">
            <div class="fond">
                <article>
                    <h1>Excellente décision et bienvenue dans cette nouvelle aventure !</h1>
                    <p>Créé ton compte afin d’accéder aux nombreuses offres de<br> logement et trouve ta colocation idéale.</p>
                </article>

                <article>
                    <h3>Connecte-toi avec une adresse email :</h3>
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <div>
                            <button type="submit">Se connecter</button>
                        </div>
                    </form>
                </article>

                <article>
                    <h3>Je n'ai pas de compte !<a href="{{ path('app_login') }}"> M'inscrire'</a></h3>
                </article>
            </div>
        </section>

        <section class="part-fond"></section>
    </main>
</div>
{% endblock %}
